name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v4

      - name: Archive artifact (Linux)
        if: runner.os == 'Linux'
        run: |
          chmod -c -R +rX ./dist | while read line; do echo "::warning title=Invalid file permissions automatically fixed::$line"; done
          tar --dereference --hard-dereference --directory "./dist" -cvf "$RUNNER_TEMP/artifact.tar" --exclude=.git --exclude=.github .

      - name: Archive artifact (macOS)
        if: runner.os == 'macOS'
        run: |
          chmod -v -R +rX ./dist | while read line; do echo "::warning title=Invalid file permissions automatically fixed::$line"; done
          gtar --dereference --hard-dereference --directory "./dist" -cvf "$RUNNER_TEMP/artifact.tar" --exclude=.git --exclude=.github .

      - name: Archive artifact (Windows)
        if: runner.os == 'Windows'
        shell: bash
        run: |
          tar --dereference --hard-dereference --directory "./dist" -cvf "$RUNNER_TEMP/artifact.tar" --exclude=.git --exclude=.github --force-local "."

      - name: Upload artifact for Pages (using upload-artifact@v4)
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: ${{ runner.temp }}/artifact.tar
          retention-days: 1
          if-no-files-found: error

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
